<?xml version="1.0" encoding="UTF-8"?>

<beans	xmlns="http://www.springframework.org/schema/beans"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="csv-finder" class="csku.martinfowler.movie.CSVMovieFinder">
        <constructor-arg value="movies1.txt"/>
    </bean>

    <bean id="lister" class="csku.martinfowler.movie.MovieLister">
        <constructor-arg ref="csv-finder"/>
    </bean>

</beans>


